$blue:#5178df;
$red: #d84747;
$yello: #ffd633;
$green: #8aad37;
$white: #f5f5f5;

$lightGreen: rgba(138,173,55,.2);
$lightBlue:rgba(81,120,223,.2);
$lightRed: rgba(216,71,71,.2);
$lightYello: rgba(255,214,51,.2);
$lightWhite: rgba(245,245,245,.2);

:export{
  red:$red;
  // blue:$blue;
  // yello:$yello;
  // green:$green;
  // white:$white;
}